{% extends 'base.html' %}


{% block extra_head %}
    <style>
        #chat-container {
            /* Make the chat container scrollable */
            overflow: scroll;
            height: 280px;
        }
        .show {
            display: block;
        }
        .hide {
            display: none;
        }
    </style>
{% endblock extra_head %}
    
{% block content %}
    
    {% if user.username == user2.username %}
        <h3>Chat with yourself</h3>
    {% else %}
        <h3>Chat with {{ user2.username }}</h3>
    {% endif %}
        
    <div id="chat-container">
        {% for chat in chats %}
            <div class="chat">
                <p>
                    <b>{{ chat.sender.user.username }}:</b>
                    <span>{{ chat.text }}</span>
                </p>
                <p>{{ chat.log|date:'Y-m-d - h:i:s' }}</p>
            </div>
        {% endfor %}
    </div>
    <div>
        <small id="info" class="hide">Message input should not be empty.</small>
    </div>
    <input id="chat-input" />
    <button id="send-chat">Send</button>

    {{ user2.pk|json_script:'user2-pk' }}

    <script>
        // Setup user2 pk
        const user2_pk = JSON.parse(document.querySelector('#user2-pk').innerText);
        
        // Setup the websocket
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + user2_pk
            + '/'
        );

        // When there is a message on websocket
        chatSocket.onmessage = (e) => {
            // Get and decode the message
            const message = JSON.parse(e.data)['chatmodel'];

            // Get the chat container and create chat div element for
            // the message
            const chatContainerEl = document.querySelector('#chat-container'),
                chatEl = document.createElement('div');
            chatEl.className = 'chat';

            // Setup elements for message
            const messageEl = document.createElement('p'),
                senderEl = document.createElement('b'),
                textEl = document.createElement('span'),
                logEl = document.createElement('p');
            
            // Put the message data to their corresponding element
            senderEl.innerText = message.sender_username + ': ';
            textEl.innerText = message.text;
            logEl.innerText = message.log;
            
            // Append the senderEl and textEl to messageEl
            messageEl.appendChild(senderEl);
            messageEl.appendChild(textEl);

            // Append the messageEl and logEl to chatEl
            chatEl.appendChild(messageEl);
            chatEl.appendChild(logEl);
            
            // Append the new message to chat container
            chatContainerEl.appendChild(chatEl);
        }

        // When enter has been clicked on #chat-input element
        document.querySelector('#chat-input').focus();
        document.querySelector('#chat-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#send-chat').click();
            }
        }

        document.querySelector('#send-chat').onclick = (e) => {
            const chatInput = document.querySelector('#chat-input');
            const chatInfo = document.querySelector('#info');
            if (!chatInput.value) {
                // Show the chat info when chat input is empty
                chatInfo.className = chatInfo.className.replace('hide', 'show');
                return
            }
            // Send message to websocket
            chatSocket.send(
                    JSON.stringify(
                        {
                            message: chatInput.value
                        }
                    )
            );
            // Make the chat input empty and hide the chat info
            chatInput.value = '';
            chatInfo.className = chatInfo.className.replace('show', 'hide');
        }
    </script>
{% endblock content %}
    