{% extends 'base.html' %}


{% block extra_head %}
    <!-- Make the chat container scrollable -->
    <style>
        #chat-container
        {
            overflow: scroll;
            height: 300px;
        }
    </style>
{% endblock extra_head %}
    
{% block content %}
    
    {% if user.username == user2.username %}
        <h3>Chat with yourself</h3>
    {% else %}
        <h3>Chat with {{ user2.username }}</h3>
    {% endif %}
        
    <div id="chat-container">
        {% for chat in chats %}
            <p>
                <b>{{ chat.sender.user.username }}</b>:
                {{ chat.text }}
            </p>
            <p>{{ chat.log }}</p>
        {% endfor %}
    </div>
    <input id="chat-input" />
    <button id="send-chat">Send</button>

    {{ user2.pk|json_script:'user2-pk' }}

    <script>
        // Setup user2 pk
        const user2_pk = JSON.parse(document.querySelector('#user2-pk').textContent);
        
        // Setup a websocket
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + user2_pk
            + '/'
        );

        // Closed websocket
        chatSocket.onclose = (e) => {
            console.log('Websocket is closed now.');
        };

        // When theres a message on websocket
        chatSocket.onmessage = (e) => {
            console.log('Received:');
            console.log(e);
        }

        document.querySelector('#send-chat').focus();
        document.querySelector('#send-chat').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                submitButton.click();
            }
        };

        document.querySelector('#send-chat').onclick = (e) => {
            const chatInput = document.querySelector('#chat-input');
            if (chatInput.value) {
                // Send message to websocket
                chatSocket.send(
                    JSON.stringify(
                        {
                            message: chatInput.value
                        }
                    )
                );
            }
            
            chatInput.value = '';
        }
    </script>
{% endblock content %}
    